.SearchBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;

    background-color: #50586C;
    /* for testing where it covers */
    /* border-style: dashed; */

    display:flex;
    align-items:center;

    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.Search-title {
    color: #DCE2F0;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-family: sans-serif;
}

.Search-controls {
    display:flex;
    align-items:center;
}

.Search-input, .Search-button {
    margin: 5px;
    float: right;
    background-color: #DCE2F0;
    padding: 7px 30px 7px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /* color:#FFFFF0 */
}
.Search-button {
    text-align: center;
    margin-left: -2px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}